<div class="background-container">
  <div class="navbar">
    <div class="nav-title">
      <h1>Vivah</h1>
    </div>
    <div class="nav-logo">
      <img src="/assets/marriage.jpg" alt="">
    </div>
    <div class="nav-items">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/page" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contacts</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
        <li><a routerLink="/location-booking" routerLinkActive="active">Location Booking</a></li>
        <li><button class="logout-button" (click)="logout()">Logout</button></li>
      </ul>
    </div>
  </div>
</div>
